$full_width:100vw;
$full_height:100vh;
$contianer_width:400px;
$contianer_height:400px;
$el_full_width:100%; 
$border-radius:20px;
// colors
$female-color:#FF0066;
$male-color:#1C6EA4;
$main-color:("c1":#EA2264, "c2" :#640D5F, "c3" : #FAF7F3, "c4" : #ac175d);
$soft-black:rgba(0, 0, 0, 0.575);
$soft-pink:#f099b6;
$mix-color: (
    "c1" : #6A0066,
    "c2" : #934790,
    "c3" : #0D1164,
    "c4" : #640D5F,
    "c5" : #1C6EA4,
    "c6" : #EA2264,
    "c7" : #F78D60,
    "c8" : #FAD691
);
